.form{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-weight: 500;
}
.button{
    background-color: violet;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}
.input{
    border: 2px solid black;
    border-radius: 10px;
}
.input:hover{
    border: 2px solid violet;
}